

div.edit-block {
	border: 1px #666 dashed;
}

ul.icon-menu.service-group, ul.icon-menu.research-group {
    padding-left: 30px;
	padding-top: 20px;
}

ul.icon-menu.service-group li, ul.icon-menu.research-group li {
	border: 0px;
}

.img-thumbnail.pull-left {
    margin: 0 15px 15px 0;
}

.img-thumbnail.pull-right {
    margin: 0 0 15px 15px;
}


.ajax-progress-throbber {
    display: none;
}

content section {
    overflow-x: inherit;
}


#helpModal .accordion .card-header {
	padding: .8rem 1.25rem;
	background-color: rgba(0,0,0,.03);
}

#helpModal .accordion .card {
	border: none;
	margin-bottom: 0px;
}

#helpModal .accordion a:not(.collapsed)::before {
	background: none;
}


a.btn.btn-admin, button.btn.btn-admin {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #666;
    border-radius: 4px;
}

.form-item, .form-actions {
    margin: 0;
}

div.study-space-icons img {
	width: 24px;
}

.videoWrapper,
.imageWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.services-row .card__interior {
	padding-bottom:24px;
	position:relative;
    height: 100%;
}

.round-icon {
	border: 3px solid #fdbf57;
	background-color: #fff;
}

.btn-floater {
    position: absolute;
    width: auto;
    bottom: 0;
  left:24px; right:24px;

}
.btn-admin {
  background-color:#222;
  border-color:#222 !important;
  color:#fff;
  padding:6px 9px !important;
  font-size:12px !important;
  line-height:12px !important;
  border-radius: 3px !important;
  position:relative;
}
.btn-admin:hover {
   background-color:#7a003c;
  border-color:#7a003c !important;
  color:#fff !important;
}
.btn-admin.dropdown-toggle:after {
  width: 0;
	height: 0;
  display:inline;
  position:relative;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
  top:14px;
  margin 0 3px;
  left:3px;

}

.lead {
  color: #222;
}

#catalogue-search-bar {

}

.tab-pane table {
  border: 0;
  font-weight: 300;
  width: 75%;
}

.tab-pane table th {
  font-weight: bold;
  padding: 5px 10px 10px 0;
}

.tab-pane table p {
  margin: 0;
  padding: 0;
}

.tab-pane tr {
  border: 0;
}

.tab-pane td {
  padding: 10px 5px;
}

.tab-pane tr:nth-child( even ) {
  background: #ebebeb;
}

.study-space-icons small {
  padding: 0px 5px 0px 3px;
}

#views-exposed-form-guides-tutorials-page-1 .input-group-append {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px){
  .tab-pane table  {
    width: 100%;
  }
}

content .select-wrapper:before {
  display: none;
}

.select-wrapper select{
    background: url('data:image/svg+xml;charset=utf8,<svg id="4dd77c64-4685-4210-95df-cdc845848749" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50.99" height="50.99" viewBox="0 0 50.99 50.99"><defs><style>.abf10b0a-0f40-4a2b-a654-12c03b9405dd{fill:#fcbe57;}.3e763721-4502-4502-9196-c9878d0d9fdf{fill:#231f20;}</style></defs><title>yellow-arrow-down</title><path class="abf10b0a-0f40-4a2b-a654-12c03b9405dd" d="M25.5,51A25.5,25.5,0,1,0,0,25.5,25.49,25.49,0,0,0,25.5,51"/><path class="3e763721-4502-4502-9196-c9878d0d9fdf" d="M30.57,24.21a.36.36,0,0,1-.11.26l-5.2,5.2a.36.36,0,0,1-.52,0l-5.2-5.2a.36.36,0,0,1-.11-.26.36.36,0,0,1,.11-.25l.56-.56a.36.36,0,0,1,.26-.11.36.36,0,0,1,.25.11L25,27.79l4.39-4.39a.36.36,0,0,1,.25-.11.36.36,0,0,1,.26.11l.56.56A.36.36,0,0,1,30.57,24.21Z"/></svg>') no-repeat right center #fff;
}

.sidebar .btn-group-vertical {
  box-shadow: 0 3px 36px rgba(0,0,0,.2);
}

.btn-group-vertical a:hover,
.btn-group-vertical>.btn:hover {
  background-color: #ebebeb;
}

.accordion .card-header a::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('data:image/svg+xml;charset=utf8,<svg id="b7ff402d-2e47-497f-ba2c-3db55e7b97ef" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><circle cx="9" cy="9" r="9" fill="none"/><path fill="none" stroke="%23222222" stroke-miterlimit="10" d="M11.7 7.7L9 10.4 6.3 7.7"/></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  width: 48px;
  height: 48px;

}

.accordion .card-header a[aria-expanded="true"]::after {
transform: rotate(-180deg);
}

.tab-content {
  margin-bottom:60px;
}

.research-banner {
  background-size: cover;
  padding: 36px 0;
}

.research-banner .btn.btn-secondary {
  margin: 0;
  color: #222;
  background-color: #fdbf57;
  border-color: #fdbf57;
  float:right;
}


.banner-title {
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #fff;
    text-shadow: 0 1px 24px rgba(0, 0, 0, 1);
    padding: 0;
    margin: 0;
}
.research-banner .banner-title {
  font-size: 30px;
  line-height:36px;
}

.banner-description {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 1px solid #fff;
    padding-left: 24px;
    text-shadow: 0 1px 24px rgba(0, 0, 0, 1);
    margin: 0;
}

section.search .btn {
    height: 5rem;
    padding: 1.4rem 7.5rem 1.4rem 6.5rem;
    margin-right: 10px;
    margin-top: 0;
}

section.search .btn:after {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    height: 4.6rem;
    width: 4.6rem;
}

section.search input[type=text] {
  font-size: 2rem;
  height: 5rem;
  padding-right: 5rem;
}

#catalogue-search-bar .input-group-append {
  position: absolute;
  top: 1px;
  right: 1px;
}

#catalogue-search-bar .input-group {
  margin-left: 20px;
}

.admin-links {
  margin-bottom: 10px;
}

.no-clock {
  margin-top: 5px;
}

section.search--hero:before {
  background: none;
}
.search--hero h3 {
  color:#fff;
  text-shadow: 0 0 15px rgba(0,0,0,1);
}

.search--hero .tab-pane {
  min-height: 220px;
}

.search--hero .tab-pane .btn-outline-dark {
  white-space: normal;
}

.search--hero .btn.btn-arrow-right:after {
  height: 100%;
}

.accordion a:not(.collapsed) {
  color: #7a003c;
  text-decoration: underline;
}

#navbar-main {
  transition: all 5s;
}
.section__header .sidebar {
  font-family: "Roboto Condensed",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: .01em;
  font-weight:300;
}

.custom-select.pop-res {
  border-radius: 50px;
  border: 2px solid #c2cacf;
  padding: 1.4rem 7.2rem 1.4rem 1.6rem;
  height: calc(1.6rem + 3.2rem) !important;
  position: relative;
  font-size: 1.3rem;
  line-height: 2.4rem;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #1a1c1d;
  line-height: 1.6rem;
  width:85%;
}

.select-wrapper.pop-res {
  background: #fff;
  text-align: center;
  width: 100%;
}

.sidebar.background--gradient {
  background: #f5f5f5;
}

#edit-combine {
  height: calc(1.6rem + 3rem);
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
    letter-spacing: .15em;
    text-transform: uppercase;
      padding: 22px 7.2rem 22px 22px;
  margin-top:2px;
}


section.search .input-group-append {
  position: absolute;
  right: 16px;
  top: 11px;
}

section.search .btn.btn-search,
.btn-search {
  color: #222;
  background-color: #fdbf57;
  border-radius: 0 50px 50px 0;
  border: 0;
  padding: 1.4rem 3rem 1.4rem 3rem;
  height: calc(1.6rem + 3rem);
    margin-top: 2px;
    margin-right: 6px;

}

#tab-online-journals .btn-search {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 0;
}

section.search .btn.btn-search::after,
.btn-search::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  right: 9px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-image: url('data:image/svg+xml;charset=utf8,<svg id="b7ff402d-2e47-497f-ba2c-3db55e7b97ef" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="-1 -1 30 30"> <circle style="fill:none;stroke:%23222222;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" cx="10.8" cy="10.8" r="10"/><line style="fill:none;stroke:%23222222;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="17.8" y1="17.8" x2="24.8" y2="24.8"/></svg>');
  background-color: transparent;
}

.ticker-carousel .carousel-cell {
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.ticker-carousel.gold {
  background-color: #56002a;
}
.ticker-carousel .page-intro {
  padding-right: 160px;
  padding-left:0;
  margin:0;
  position:relative;
}
.ticker-carousel .col-10 {
  margin:0 auto !important;
}
.ticker-carousel .btn.btn-primary {
  position: absolute;
    right: 0;
    padding: 12px 24px;
    top: 50%;
  margin:0;
  margin-top:-24px;
  border-color:#fff;
  color:#222;
  background-color:#fff;
}

.block-link {
  height: 100%;
  position: absolute;
  width: 100%;
}

.guide-1,
.guide-4,
.guide-5 {
  background: #ffd100 !important;
border-radius: 20px;
      padding: 6px 12px !important;
    font-size: 11px !important;
    line-height: 15px !important;
}

.guide-3 {
  background: #d2d755 !important;
  border-radius: 20px;
      padding: 6px 12px !important;
    font-size: 11px !important;
    line-height: 15px !important;
}

.guide-6 {
  background: #8bd3e6 !important;
border-radius: 20px;
      padding: 6px 12px !important;
    font-size: 11px !important;
    line-height: 15px !important;
}
.resources--row .card {
  transition: background 0.3s ease-out;
}
.resources--row .card:hover {
  background:#f0f0f0;
}
.resources--row .card p {


}
.resources--row .card .mb-5 .mb-3 {
  font-size:13px;
  line-height:18px;


}

/*

BW Yellow     #ffd100
BW Lime       #d2d755
BW Sky Blue   #8bd3e6
*/

.node-highlight-boxes-content .card h3 {
  font-weight:500;
  font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
}
.node-highlight-boxes-content {
      padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}
.node-highlight-boxes-content .card .field-items {
    letter-spacing: .01em;
    font-weight: 100;
  margin-top: 0;
    margin-bottom: 2.4rem;
  font-size: 1.6rem;
    line-height: 1.5em;
    color: #1a1c1d;
}
.node-highlight-boxes-content .card .rounded-circle {
  border: 3px solid #fdbf57;
    background-color: #fff;
  width: 112px;
  height: auto;
}
.node-highlight-boxes-content .card__thumbnail-wrapper>i {
    border: 3px solid #fdbf57;
    background-color: #fff;
  width: 112px;
  height:112px;
  font-size:60px;
  padding:0;
  line-height:105px;
  color:#5e6a71;
}
.research-banner .banner-title {
  margin-top:36px;
  margin-bottom:36px;
}
.research-banner .btn {
  padding: 12px 24px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.7);
  margin:0 !important;
}
.research-banner .btn:hover {
  background-color:#222;
  border-color:#222;
  color:#fff;
}
#site-footer .btn-outline-dark {
  border:1px solid #fff;
  overflow:hidden;
  padding:10px 18px;
  margin:6px 0 !important;
}


.btn-group-vertical>a i {
  flex-shrink:0;
}


@media (max-width: 576px) {
  .tab-content .tab-pane.active {
      box-shadow: none;
  }
  .ticker-carousel .btn.btn-primary {
  position: relative;
    right: auto;
    top: auto;
  margin:12px 0;
}
  .ticker-carousel .page-intro {
  padding-right: 0;
    padding-left:0;
}


}

@media (max-width: 767.8px){
  nav.navbar .dropdown-menu {
    background-color:#7a003c;
  }
  nav.navbar .dropdown-item:hover {
    background-color:#222;
  }
  nav.navbar .nav-link:hover {
    background-color:#222;
  }
}
@media (max-width: 990px){
  #catalogue-search-bar .col-md-4 a {
    display: block;
    min-width: 200px;
  }
}

@media (max-width: 1199px) and (min-width: 768px){
  nav.navbar .collapse ul.navbar-nav:not(.navbar-right) {
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1199px) and (min-width: 768px){
  nav.navbar .collapse ul.navbar-nav {
    width: auto;
  }
}

@media (min-width: 768px) {
  nav.navbar.navbar-dark .navbar-nav li.open>a{
      color: #1a1c1d;
      background-color: #fff;
      border-top: 4px solid #ffbc3d;
      position: relative;
      box-shadow: 0 5px 16px 0 rgba(0,0,0,.2);
      z-index: 1010;
  }
}

@media (min-width: 1200px){
  nav.navbar.navbar-dark .navbar-nav li.open .nav-link {
      padding: 1.6rem 2.4rem;
  }
}

.card li {

      letter-spacing: .01em;
    font-weight: 100;
  font-size: 1.6rem;
    line-height: 1.5em;
    color: #1a1c1d;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.flickity-prev-next-button:disabled {
  opacity: 0;
}

.card .card__meta.guides span {
  margin: 0 0 .5rem 0;
}

.card .card__meta.guides .subjects {
  display: block;
  font-weight: normal;
  text-transform: none;
  margin: 0 0 0 .5rem;
  padding: 0;
  background: transparent;
}

.section-content .cards-row .card {
  padding-bottom:36px;
}
.view-study-spaces .card {
  padding-bottom:48px;
}

.view-study-spaces .card p {
  /*margin-bottom:0;*/
}
.card h2 {
margin-bottom:12px;
}
.field-name-body li {
  font-weight:300;
}
.form-item {
  margin:24px 0;
}
#views-exposed-form-guides-tutorials-page-1 .form-item {
  margin: 0 0;
}
.form-item label {
  margin-bottom:6px;

}
content input:not([type=checkbox]):not([type=radio]) {
    padding: 8px 18px;
}
.accordion {
  margin-top:24px;
}
